* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-login-register {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10vh 1fr 10vh;
  width: 100%;
  height: 100vh;
}

.header-login-register {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: blue;
  gap: 2rem;
}

.header-login-register a {
  color: white;
  padding-right: 2rem;
  text-decoration: none;
}

.main-teste {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  background-image: url('/images/english2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  padding-left: 7vw;
  padding-bottom: 5vh;

}

.footer-login-register {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
}



.form-login {
  max-width: 17vw;
  border-radius: 0.25rem;
  height: 29vh;
  margin-bottom: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-login input {
  width: 100%;
  padding: 8px;
  outline: none;
}


.form-register {
  max-width: 17vw;
  border-radius: 0.25rem;
  height: 35vh;
  margin-bottom: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-register input {
  width: 100%;
  padding: 8px;
  outline: none;
}

.error-login {
  color: rgb(120, 6, 6);
  margin: 0;
  padding: 0;
  height: 5vh;
}

.error-message {
  height: 4vh;
  color: red;
  font-size: 1rem;
  text-align: center;

}

.paragraph-register-login {
  color: rgb(26, 26, 131);
  text-align: center;
}


.footer-crossword {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  background-color: blue;
  height: 10vh;
}

.dev-info {
  height: 100%;
}

.dev-info p {
  color: white;
  margin: 0;
}



.register-name {
  margin-bottom: 15px;
}

.button-login-register {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  width: 100%;
}

.login-container form input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;

}

.anchor-register {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.anchor-register:hover {
  color: rgb(17, 17, 163);
}



.error-message span {
  display: block;
}

@media (max-width: 768px) {
  .container-login-register {
    width: 100%;
    height: 80vh;
    background-image: url('/images/english2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    ;
  }

  .anchor-register {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    color: white;
  }
}