* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-login-register {

  width: 100%;
  height: 80vh;
  background-image: url('/images/english2.jpg');
  background-size: cover;
  /* cobre toda a tela */
  background-position: center;
  /* centraliza */
  background-repeat: no-repeat;
  display: flex;

  align-items: center;
}

.main-login-register {
  max-width: 400px;
  margin-left: 8vw;
  padding: 15px;
  border-radius: 0.25rem;
  height: 47vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.error-login {
  color: rgb(120, 6, 6);
  margin: 0;
  padding-bottom: 5px;
  text-align: center;
}

.paragraph-register-login {
  color: rgb(26, 26, 131);
  text-align: center;
}


.footer-crossword {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  background-color: blue;
  height: 10vh;

}

.main-login-register form div {
  margin-bottom: 15px;
}

.testeum {
  height: 15px;
}

.main-login-register form input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  outline: none;
}

.register-name {
  margin-bottom: 15px;
}

.button-login-register {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  width: 100%;
}

.login-container form input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;

}

.anchor-register {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.anchor-register:hover {
  color: rgb(17, 17, 163);
}

.error-message {
  height: 1.5rem;
  /* Reservar espaço fixo para a mensagem */
  color: red;
  /* Cor do texto */
  font-size: 0.9rem;
  /* Tamanho do texto */
  margin-top: 0.5rem;
  /* Espaçamento acima */
}

.error-message span {
  display: block;
}