* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  /* mantém scroll horizontal bloqueado */
  overflow-y: auto;
  /* scroll vertical normal */
}

body,
#grid-crossword {
  overflow-x: hidden;
  /* Não permite barras de rolagem horizontais */
}

:root {
  --size: 2.5rem;
  --cols: 11;
  --gap: 1rem;
}

#grid-crossword {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10vh 1fr 10vh;
  height: auto;
  background-image: url('/images/red.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.header-crossword {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: blue;
  gap: 2rem;
}

.header-crossword a {
  color: white;
  padding-right: 2rem;
  text-decoration: none;
}

.user-log {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  height: 100%;

}

.user-log p {
  padding: 0;
  margin: 0;
}

.user-icon {
  font-size: 25px;
}

.dev-info {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 5px 8px;
  border-radius: 0.25rem;
}

.git-icon {
  font-size: 25px;
  color: back;
}

.footer-crossword {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-crossword p {
  color: white;
  padding: 0;
  margin: 0;
}

.crossword .grid .clue-cell rect {
  stroke: gray !important;
  /* cor da borda */
  stroke-width: 0.1px !important;
  /* espessura da borda */
}

.crossword .clues {
  display: none !important;
}

.grid-teste {
  width: 70vh;
}

.crossword .grid svg {
  width: 100% !important;
  height: 100% !important;
  display: block;
}

.section-crossword {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 50%;
  height: 80vh;
}

.main-crossword {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.main-master {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.crossword-grid {
  display: grid;
  grid-template-columns: repeat(var(--cols), var(--size));
  grid-auto-rows: var(--size);
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  padding: 1rem;
}

.cell {
  width: var(--size);
  height: var(--size);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 1px solid transparent;
  font-size: 1rem;
}

.cell input {
  width: 100%;
  height: 100%;
  border: none;
  text-align: center;
  font-size: 1.05rem;
  caret-color: #000;
  background-color: transparent;
  outline: none;
}

.crossword-grid .cell.in-word {
  background-color: white;
  border: 1px solid gray;
}

.cell.correct {
  background: var(--correct);
  box-shadow: inset 0 0 0 2px #30b230;
  cursor: not-allowed;
}

.cell.wrong {
  background: var(--wrong);
  box-shadow: inset 0 0 0 2px rgb(219, 19, 19);
}

.crossword-grid .cell.in-word.correct {
  background-color: #30b230;
  border: 1px solid #30b230;
}

.crossword-grid .cell.in-word.wrong {
  background-color: rgb(219, 19, 19);
  border: 1px solid rgb(219, 19, 19);
}

.level-crossword {
  color: white;
  margin: 0;
}

.buttons-crossword {
  display: flex;
  gap: 1rem;
}

.how-to-play-button {
  background-color: rgb(14, 119, 14);
  color: white;
  width: auto;
  height: 3rem;
  border: none;
  padding: 10px;
  border-top-left-radius: 0.50rem;
  border-bottom-left-radius: 0.50rem;
  transition: background-color 0.2s ease-in-out;
}

.how-to-play-button:hover {
  background-color: rgb(12, 81, 12);
  color: rgb(224, 222, 222);

}

.next-crossword {
  border: none;
  background: gray;
  color: rgb(196, 194, 194);
  border-top-right-radius: 0.50rem;
  border-bottom-right-radius: 0.50rem;
  width: 4rem;
  height: 3rem;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.next-crossword:hover {
  background: rgb(93, 91, 91);

}

.next-crossword.correct {
  background-color: rgb(14, 119, 14);
  color: white;
  transform: scale(1.1);
}

.next-crossword.correct:hover {
  background-color: rgb(12, 81, 12);
  color: white;
  transform: scale(1.1);
}

.how-to-play-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  border: 1px solid gray;
  padding: auto;
  height: 70%;
  width: 40%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 3vw;
  box-shadow: 10px 10px 10px rgba(35, 50, 136, 0.3);
  border-top-right-radius: 5rem;
  border-bottom-left-radius: 5rem;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background: rgb(212, 212, 215);
  gap: 4rem;
  padding-bottom: 1rem;
}


.how-to-play {
  text-align: center;
  font-family: "Architects Daughter", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 23px;
}

.game-instrutctions {
  font-family: "Didact Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;

}

.numbers-icons {
  font-size: 25px;
  color: blue;
}

/* Estilos para telas menores que 780px */
@media (max-width: 780px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0e770e;
    /* cor de fundo opcional */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
    /* impede scroll */
  }

  #root {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  #root::before {
    content: "Por favor, gire o dispositivo para jogar em modo paisagem (landscape)";
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
  }

  /* Esconde o resto do jogo */
  .main-crossword,
  .header-crossword,
  .footer-crossword {
    display: none !important;
  }
}